/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box
}
.m {
    /* Don't cut off dropdowns! */
    overflow: hidden;
}

a {
    outline: 0;
}
body .remove_circle {
    color: rgba(238, 10, 10, 0.63); 
}
/* Add your styles here */
#grid-devices tr:nth-child(even) {
    background: lightgray;
}
.btn-flat:hover{
    background: #ecfcfe;
}
.m .dropdown-content {
    background: #fff;
}
.m .select-dropdown.dropdown-content li.selected{
    background: #bef7ff;
}

.m .select-wrapper+label {
    top: 100%;
}
.grid-table {
    height: calc(100% - 110px);
    overflow: auto;
}
.m .select-wrapper input.select-dropdown {
    height: 1.5rem;
    line-height: 1.5rem;
}
.m td, .m th {
    padding: 2px 5px;
}
